<div class="container">
  <section class="intro" id="intro">
    <div class="background"></div>
    <img
      id="background"
      src="../../../assets/upsideDownBackground.svg"
      alt="not now"
    />
    <div class="intro_Content">
      <h3>Hey, Social Media Influencer!</h3>
      <div class="firstText">
        <span>Yeah, you.</span>
        <span>The one with the awesome content and the</span>
      </div>
      <span>loyal fans. You know what you need? Your own merch.</span>
      <div class="secondText">
        <span>And you know who can help you with that ? </span>
        <span>Merch Raja.</span>
      </div>
      <span>
        Merch Raja is the ultimate merchandising solution for social media
        influencers in India.
      </span>
      <span>
        We take care of everything from designing to manufacturing to printing
        to shipping to customer support.
      </span>
      <span>
        You only have to promote your merch to your audience, rest everything we
        will take care of.
      </span>
      <span>
        Sounds too good to be true, right? Well, it’s not. It’s Merch Raja.
      </span>
      <div (click)="scrollTo()" class="joinUs">Join Now</div>
    </div>
    <img src="../../../assets/Group 1000006038.png" alt="not now" />
    <svg
      width="150"
      height="301"
      viewBox="0 0 150 301"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g style="mix-blend-mode: luminosity">
        <path d="M159.292 0L150.27 150.27L141.248 0H159.292Z" fill="#1A9AE2" />
        <path
          d="M120.094 2.78369L150.271 150.27L102.664 7.45391L120.094 2.78369Z"
          fill="#1A9AE2"
        />
        <path
          d="M82.9495 15.6206L150.271 150.27L67.3242 24.6424L82.9495 15.6206Z"
          fill="#1A9AE2"
        />
        <path
          d="M50.3922 37.6338L150.269 150.27L37.6328 50.3908L50.3922 37.6338Z"
          fill="#1A9AE2"
        />
        <path
          d="M24.6429 67.3213L150.271 150.27L15.6211 82.9489L24.6429 67.3213Z"
          fill="#1A9AE2"
        />
        <path
          d="M7.4554 102.664L150.269 150.27L2.78516 120.091L7.4554 102.664Z"
          fill="#1A9AE2"
        />
        <path d="M0 141.249L150.27 150.27L0 159.292V141.249Z" fill="#1A9AE2" />
        <path
          d="M2.78516 180.45L150.269 150.271L7.4554 197.877L2.78516 180.45Z"
          fill="#1A9AE2"
        />
        <path
          d="M15.6211 217.592L150.271 150.271L24.6429 233.219L15.6211 217.592Z"
          fill="#1A9AE2"
        />
        <path
          d="M37.6328 250.15L150.269 150.271L50.3922 262.907L37.6328 250.15Z"
          fill="#1A9AE2"
        />
        <path
          d="M67.3242 275.898L150.271 150.271L82.9495 284.92L67.3242 275.898Z"
          fill="#1A9AE2"
        />
        <path
          d="M102.664 293.087L150.271 150.271L120.094 297.757L102.664 293.087Z"
          fill="#1A9AE2"
        />
        <path
          d="M141.248 300.541L150.27 150.271L159.292 300.541H141.248Z"
          fill="#1A9AE2"
        />
      </g>
    </svg>
    <div class="cardOne">
      <img src="../../../assets/img-13-copyright.png.svg" alt="not now" />
    </div>
    <div class="cardTwo">
      <img src="../../../assets/img-14-copyright.png.png" alt="not now" />
    </div>
  </section>
  <section class="chooseUs" id="chooseUs">
    <img src="../../../assets/Group 1000006109.svg" alt="not now" />
    <span>Why Choose Us?</span>
    <div class="mobileGrid">
      <div class="A1">
        <div class="rallyCry">
          <img
            src="../../../assets/MerchRajaVertical Logo copy 2.svg"
            alt="not now"
          />
          <div class="rallyCard">
            <div>
              <span>Exclusive Access</span>
              <span>to</span>
            </div>
            <div>
              <span>our</span>
              <span>Influencer Community</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="A2"
        (click)="
          mouseEnter(
            '.A2',
            'We work with professional designers to create unique and customized merch designs that reflect your personality and style.'
          )
        "
      >
        <div class="card">
          <div class="cardLogo">
            <img src="../../../assets/Group.svg" alt="not now" />
          </div>
          <span>Personalized Designs</span>
          <div class="line"></div>
        </div>
      </div>
      <div
        class="A3"
        (click)="
          mouseEnter(
            '.A3',
            'We provide you with a user-friendly dashboard where you can track and manage your income, orders, inventory, and analytics on our platform.'
          )
        "
      >
        <div class="card">
          <div class="cardLogo">
            <img src="../../../assets/new.svg" alt="not now" />
          </div>
          <span>Influencer Dashboard</span>
          <div class="line"></div>
        </div>
      </div>
      <div
        class="A4"
        (click)="
          mouseEnter(
            '.A4',
            'We handle all the production and fulfillment costs, so you don’t have to invest anything upfront. You only pay us a small commission from your sales.'
          )
        "
      >
        <div class="card">
          <div class="cardLogo">
            <img src="../../../assets/new2.svg" alt="not now" />
          </div>
          <span>No Upfront Costs</span>
          <div class="line"></div>
        </div>
      </div>
      <div
        class="A5"
        (click)="
          mouseEnter(
            '.A5',
            'We produce your merch on demand, so you don’t have to worry about unsold inventory or wasted resources. You can launch your merch anytime and anywhere'
          )
        "
      >
        <div class="card">
          <div class="cardLogo">
            <img src="../../../assets/Vector (1).svg" alt="not now" />
          </div>
          <span>No Minimum Orders</span>
          <div class="line"></div>
        </div>
      </div>
      <div
        class="A6"
        (click)="
          mouseEnter(
            '.A6',
            'We use premium materials and printing techniques to ensure your merch is durable, comfortable, and attractive.'
          )
        "
      >
        <div class="card">
          <div class="cardLogo">
            <img src="../../../assets/Vector (2).svg" alt="not now" />
          </div>
          <span>Quality Products</span>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <img src="../../../assets/bg-01 1.png" alt="not now" />
  </section>
  <section class="slideContainer" id="slideContainer">
    <div class="slide">
      @for (item of imgArr; track $index) {
        <div class="slides">
          <img [src]="item" alt="not now" srcset="" />
        </div>
      }
    </div>
    <img
      class="left"
      src="../../../assets/arrow 1.svg"
      (click)="prev()"
      alt="not now"
    />
    <img
      class="right"
      src="../../../assets/arrow 1.svg"
      (click)="next()"
      alt="not now"
    />
  </section>
  <section class="form" id="formSection">
    <form class="formContainers" [formGroup]="multipleForms">
      <div class="formSlides">
        <div class="formOne" formGroupName="personalInfo">
          <h3>Personal Information</h3>
          <div class="inputBox">
            <div class="creds">
              <div class="input">
                <span>First Name*</span>
                <input
                  (keydown)="onKeyDown($event)"
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="input">
                <span>Last Name*</span>
                <input
                  (keydown)="onKeyDown($event)"
                  type="text"
                  formControlName="lastName"
                />
              </div>
            </div>
            <div class="input">
              <span>Phone Number*</span>
              <input
                (keydown)="onKeyDown($event)"
                type="tel"
                formControlName="phoneNumber"
              />
            </div>
            <div class="input">
              <span>Email Address*</span>
              <input
                (keydown)="onKeyDown($event)"
                type="email"
                formControlName="emailAddress"
              />
            </div>
          </div>
          <div type="button" class="submitbutton">
            <button
              (click)="nextForm($event)"
              [disabled]="!multipleForms.controls['personalInfo'].valid"
            >
              Next
            </button>
          </div>
        </div>
        <div class="formTwo" formGroupName="socialLinks">
          <div class="header">
            <h3>Social Links</h3>
            <img
              class="back"
              (click)="goBack()"
              src="../../../assets/backButton.svg"
              alt="not now"
            />
          </div>
          <div class="inputBox">
            <div class="creds">
              <div class="input">
                <span>Instagram</span>
                <input
                  (keydown)="onKeyDown($event)"
                  type="text"
                  formControlName="instagram"
                />
              </div>
              <div class="input">
                <span>Facebook</span>
                <input
                  (keydown)="onKeyDown($event)"
                  type="text"
                  formControlName="facebook"
                />
              </div>
            </div>
            <div class="input">
              <span>Twitter</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="twitter"
              />
            </div>
            <div class="input">
              <span>Youtube</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="youtube"
              />
            </div>
            <div class="input">
              <span>Linkedin</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="linkedin"
              />
            </div>
          </div>
          <div type="button" class="submitbutton">
            <button
              (click)="nextForm($event)"
              [disabled]="!multipleForms.controls['socialLinks'].valid"
            >
              Next
            </button>
          </div>
        </div>
        <div class="formThree" formGroupName="aboutYou">
          <div class="header">
            <h3>About You</h3>
            <img
              class="back"
              (click)="goBack()"
              src="../../../assets/backButton.svg"
              alt="not now"
            />
          </div>
          <div class="inputBox">
            <div class="input">
              <span>How many followers do you have ?</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="followersCount"
              />
            </div>
            <div class="input">
              <span>What is your reach?</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="reach"
              />
            </div>
            <div class="input">
              <span>What is your engagement rate?</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="engagementRate"
              />
            </div>
            <div class="input">
              <span>What is your niche or content theme?</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="niche"
              />
            </div>
          </div>
          <div type="button" class="submitbutton">
            <button
              (click)="nextForm($event)"
              [disabled]="!multipleForms.controls['aboutYou'].valid"
            >
              Next
            </button>
          </div>
        </div>
        <div class="formFour" formGroupName="vision">
          <div class="header">
            <h3>Your Vision</h3>
            <img
              class="back"
              (click)="goBack()"
              src="../../../assets/backButton.svg"
              alt="not now"
            />
          </div>
          <div class="inputBox">
            <div class="input">
              <span>What kind of merch are you interested in creating?</span>
              <input
                (keydown)="onKeyDown($event)"
                type="text"
                formControlName="merchInterest"
              />
            </div>
            <div class="input">
              <span
                >What are your goals and expectations for this
                collaboration?</span
              >
              <textarea formControlName="collaborationGoals"></textarea>
            </div>
          </div>
          <div type="button" class="submitbutton">
            <button
              (click)="nextForm($event)"
              [disabled]="!multipleForms.controls['vision'].valid"
            >
              Next
            </button>
          </div>
        </div>
        <div class="formFive" formGroupName="feedback">
          <div class="header">
            <h3>Feedback</h3>
            <img
              class="back"
              (click)="goBack()"
              src="../../../assets/backButton.svg"
              alt="not now"
            />
          </div>
          <div class="inputBox">
            <div class="input">
              <span>How did you hear about us?</span>
              <textarea formControlName="hearAboutUs"></textarea>
            </div>
            <div class="input">
              <span>Do you have any questions or suggestions for us?</span>
              <textarea formControlName="suggestions"></textarea>
            </div>
          </div>
          <div type="button" class="submitbutton">
            <button
              (click)="nextForm($event, 'submit')"
              [disabled]="!multipleForms.controls['feedback'].valid"
            >
              Submit
            </button>
          </div>
        </div>
        <div class="lastSlide">
          <img
            src="../../../assets/videoplayback-1--unscreen.gif"
            alt="not now"
          />
          <span>Thanks &lt;3</span>
        </div>
      </div>
    </form>
    <img
      class="gif"
      src="../../../assets/videoplayback-unscreen.gif"
      alt="not now"
    />
    <img
      class="thunder"
      src="../../../assets/thunderBackground.svg"
      alt="not now"
    />
    <img
      class="lowerBluebackground"
      src="../../../assets/lowerBluebackground.svg"
      alt="not now"
    />
    <img
      class="upperBluebackground"
      src="../../../assets/upperBluebackground.svg"
      alt="not now"
    />
  </section>
</div>
